<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <!-- A Jinga block named 'content'.  When you create a new html page, -->
        <!-- you can choose to keep everything the same as this page, but re- -->
        <!-- place the portion inside the block with different content.  See  -->
        <!-- profile.html for the example. -->
        {% block content %}
        <h1>Home Page</h1>
        <h2>Hello {{ name }}!</h2>
        {% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>